
@font-face {
    font-family: "Game";
    src: url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
}

#gameTitle{
    font-family:'Cute Font', cursive;
    color:rgba(167, 45, 112, 0.541);
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px rgba(24, 139, 115, 0.541);
    text-shadow: -2px -2px rgba(19, 17, 131, 0.541);
    margin-top: -50px;
}

.container {
    overflow: hidden;
    height: 500px;
    width: 400px;
    position: absolute;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto;
}

.slide {
    background: url(Images/space.png) repeat-y;
    height: 1000px;
    width: 500px;
    animation: slide 20s linear infinite;
    z-index: -10px;

}

@keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, -500px, 0);
    }
  }

canvas{
    border: 4px solid rgba(167, 45, 112, 0.541);
    position: absolute;
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px; 
    margin: auto;
    z-index:1;
    
}

#myScore,#maxScore,#myScoreNumber,#maxScoreNumber {
    width: 300px;
    color: rgb(128, 38, 38);
    font-family:'Cute Font', cursive;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 750px; 
    margin: auto;
}

#myScore{
    left: -320px; 
    right: 0px; 
    bottom: 0px; 
}

#myScoreNumber{
    left: -190px; 
    right: 0px; 
    bottom: 0px; 
}





